dist/
node_modules/
*.sqlite
*.sqlite-journal

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ionic ignores

app/node_modules/
app/www/
app/.idea/
app/.sourcemaps/
app/.sass-cache/
app/.tmp/
app/.versions/
app/coverage/
app/dist/
app/node_modules/
app/tmp/
app/temp/
app/hooks/
app/platforms/
app/plugins/
app/plugins/android.json
app/plugins/ios.json